body {
    font-family: 'Poppins', sans-serif;
}


/*Styling mobile*/

.first-container {
    width:100%;
    margin: 0 auto;
    text-align: center;
}

.first-container img {
    width: 130px;
    height:130px;
}


/*Skip links*/

.skip-links {
    margin: 0;
    padding:0;
    list-style: none;
}
  
.skip-links a, a:visited {
    position: absolute;
    text-decoration: none;
    color: #e8e5d9;
    top: -3em;
}
  
.skip-links a:focus {
    top: 0;
    position: fixed;
    color: #F17AB1;
    background-color: black;
}


/*header*/

.navbar {
    width: 0 auto;
    height:350px;
    background-color: black;
    color:white;
}

.navbar ul {
    width: 100%;
    list-style: none;
    display: block;
}

.navbar li {
    margin:30px;
}

.navbar a {
    text-decoration: none;
    color:white;
}


/*adding navbar selectors*/

.navbar a:hover {
    color: #F17AB1;
}

.home a:link {
    text-decoration: underline;
}


/*Styling hero banner*/

.banner {
    margin: 0 auto;
    width: 0 auto;
    height: auto;
    margin-top:100px;
    margin-bottom:70px;
    text-align: center;
}

.banner h2 {
    color: #565656;
    font-family: 'Poppins', sans-serif;
}

.banner h1 {
    color: #DD97BB;
    font-size: 39pt;
}

.banner img {
    height: 40px;
    margin-bottom:70px;
}

.banner button {
    border-radius: 0;
    border: 2px solid #565656;
    width:200px;
}


/*button hover*/

.banner button:hover {
    color: white;
    border: 2px solid #DD97BB;
    background-color:#DD97BB;
}


/*Portfolio highlights carousel title*/

.line { 
    margin: auto;
    width: 45px;
    border-bottom:3px solid #DD97BB;
    margin-bottom: 70px;
}


/*Styling banner2*/

.banner2 {
    margin:auto;
    width: 0 auto;
    margin-top:40px;
    margin-bottom:40px;
}

.banner2 h1 {
    margin: auto;
    width: 100%;
    margin-top:110px;
    font-size: 28pt;
    text-shadow: 2px 1px 5px grey;
}

.banner2 button {
    margin: 0 auto;
   
    border-radius: 0;
    border: 2px solid white;
    margin-top:210px;
}

.banner2 button:hover {
    border: 2px solid #DD97BB;
    background-color: #DD97BB;
    color: white;
}


/*Styling footer*/

.footer {
    margin: 0 auto;
    width: auto;
    height: auto;
    background-color: #E6E6E6;
}

.footer-logo {
    width: 100px;
    height: 100px;
    margin-bottom:20px;
}

.footer-content1 p {
    color: #565656;
    margin-bottom:50px;
}

.footer-content1 img {
    margin-left: 10px;
}

.footer-links h4 {
    margin: auto;
    width:85%;
    margin-bottom:15px;
}

.footer-links ul {
    margin: 0 auto;
    list-style: none;
    color:#565656;
    margin-bottom:40px;
}

.footer-links a {
    text-decoration: none;
    color:#565656;
}

.socialmedia {
    margin-bottom:30px;
}

.socialmedia h4 {
    margin: auto;
    width:85%;
    margin-bottom:15px;
}

.social-icons {
    margin: auto;
    width:85%;
}

.social-icons a, .social-icons button {
    color:#DD97BB;
    border: none;
    background-color:#E6E6E6;
    font-size: 22pt;
}








/*Styling tablet size*/

@media screen and (min-width:768px) {

    /*Styling hero banner*/

    .banner {
        margin: 0 auto;
        width: 0 auto;
        height: auto;
        margin-top:100px;
        margin-bottom:70px;
        text-align: center;
    }

    .banner h2 {
        color: #565656;
        font-family: 'Poppins', sans-serif;
        font-size: 22pt;
    }

    .banner h1 {
        color: #DD97BB;
        font-size: 56pt;
        letter-spacing: 7px;
    }

    .banner img {
        height: 55px;
        margin-bottom:70px;
    }

    .banner button {
        border-radius: 0;
        border: 2px solid #565656;
        width:220px;
    }


    /*button hover*/

    .banner button:hover {
        color: white;
        border: 2px solid #DD97BB;
        background-color:#DD97BB;
    }


    /*Styling banner2*/

    .banner2 {
        margin:0 auto;
        width: 0 auto;
        height: 400px;
        margin-top:40px;
        margin-bottom:40px;
    }

    .banner2 img {
        height:400px;
        width: 100%;
    }

    .banner2 h1 {
        margin: auto;
        width: 100%;
        margin-top:110px;
        font-size: 28pt;
        text-shadow: 2px 1px 5px grey;
    }

    .banner2 button {
        margin: 0 auto;
        border-radius: 0;
        border: 2px solid white;
        margin-top:210px;
    }

    .banner2 button:hover {
        border: 2px solid #DD97BB;
        background-color: #DD97BB;
        color: white;
    }

}






/*Styling desktop size*/

@media screen and (min-width:992px) {

    .first-container {
        width:100%;
        margin: 0 auto;
    }

    .first-container img {
        width: 100px;
        height:100px;
    }


    /*header*/

    .navbar {
        width: 55%;
        margin: 0 auto;
        margin-top: 25px;
        padding-bottom:35px;
        height:auto;
        background-color: white;
        color:#737373;
        text-align: center;
        
    }

    .navbar ul {
        width: 100%;
        margin: 0 auto;
        list-style: none;
        display:flex;
    }

    .navbar li {
        margin: 0 auto;
        flex:auto;
    }

    .navbar a {
        text-decoration: none;
        color:#737373;
        font-weight: 600;
    }


    /*adding navbar selectors*/

    .navbar a:hover {
        color: #F17AB1;
    }

    .home a:link {
        text-decoration: underline;
    }


    /*Styling carousel for desktop*/

    .carousel {
        height:600px;
        width: 100%;
    }

    .carousel-inner img {
        height:600px;
    }
    
    /*Styling footer*/

    .footer {
        margin: 0 auto;
        padding-top:50px;
        width: auto;
        height: auto;
        background-color: #E6E6E6;
    }

    .footer-logo {
        height:80px;
        width:80px;
    }

    .footer-content1 p {
        color: #565656;
        margin-bottom:50px;
    }



}
